:root{
  --black: #000000;
  --gray: #333333;
  --white: #ffffff;
  --ghost-white: #F9F9F6;

  --action: #619AB0;
  --warning: #BF8934;
  --success: #659163;
  --danger: #C25443;
}

$global-padding: 8px;