:root{
  --black: #000000;
  --white: #ffffff;

  --gray: #333333;
  --ghost-white: #F9F9F6;

  --action: #619AB0;
  --action-darker: #568FA5;
  --action-light: #D3E5EB;
  --warning: #BF8934;
  --success: #659163;
  --success-darker: #4D734B;
  --danger: #C25443;

  --table: #F8FCFD;
}

$global-padding: 8px;